<app-loading *ngIf="loading"></app-loading>
<app-tarjetas [items]="newReleases"></app-tarjetas>
<!-- <div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let newRelease of newReleases" class="col">
        <div class="card">
            <img [src]="newRelease.images | noimage" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{newRelease.name}}</h5>
                <div>
                    <p class="card-text">Artistas:
                        <span *ngFor="let artist of newRelease.artists" class="badge text-bg-primary">{{artist.name}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> -->